server:
  servlet:
    context-path: /matchbox
hapi:
  fhir:
    server_address: http://localhost:8080/matchbox/fhir
    implementationguides:
      fhir_r4_core:
        name: hl7.fhir.r4.core
        version: 4.0.1
        url: classpath:/hl7.fhir.r4.core.tgz
      cda:
        name: hl7.cda.uv.core
        version: 2.0.1-sd-202510-matchbox-patch
        url: classpath:/hl7.cda.uv.core#2.0.1-sd-202510-matchbox-patch.tgz
    staticLocation: file:/apps/
matchbox:
  fhir:
    context:
      txServer: http://tx.fhir.org
      onlyOneEngine: true
