server:
  port: 8080
  servlet:
    context-path: /matchboxv3
hapi:
  fhir:
    server_address: http://localhost:8080/matchboxv3/fhir
    implementationguides:
      fhir_r4_core:
        name: hl7.fhir.r4.core
        version: 4.0.1
        url: classpath:/hl7.fhir.r4.core.tgz
      ch-core:
        name: ch.fhir.ig.ch-core
        version: 6.0.0
      ch-epr-fhir:
        name: ch.fhir.ig.ch-epr-fhir
        version: 5.0.0
matchbox:
  fhir:
    context:
#      txServer: http://tx.fhir.org
      txServer: http://localhost:${server.port}/matchboxv3/tx
      httpReadOnly: true
      suppressWarnInfo:
        hl7.fhir.r4.core#4.0.1:
          - "Constraint failed: dom-6:"
      suppressError:
        hl7.fhir.r4.core#4.0.1:
          - "Extension_EXTP_Context_Wrong@^RelatedPerson"
