server:
  servlet:
    context-path: /matchboxv3
hapi:
  fhir:
    server_address: http://localhost:8080/matchboxv3/fhir
    implementationguides:
      fhir_r4_core:
        name: hl7.fhir.r4.core
        version: 4.0.1
        url: classpath:/hl7.fhir.r4.core.tgz
      hl7_fhir_uv_ips:
        name: ch.fhir.ig.ch-alis
        version: 0.3.0-draft
        url: file:/Users/oegger/Documents/github/ch-alis/output/package.tgz
    staticLocation: file:/apps/
matchbox:
  fhir:
    context:
      txServer: http://tx.fhir.org
      onlyOneEngine: true
spring:
  datasource:
    url: "jdbc:h2:mem:test"
