server:
  servlet:
    context-path: /matchboxv3
hapi:
  fhir:
    server_address: http://localhost:8080/matchboxv3/fhir
    implementationguides:
      fhir_r4_core:
        name: hl7.fhir.r4.core
        version: 4.0.1
        url: classpath:/hl7.fhir.r4.core.tgz
      cda:
        name: ca.infoway.io.psca
        version: 2.0.0-DFT-Ballot
    staticLocation: file:/apps/
matchbox:
  fhir:
    context:
      txServer: http://tx.fhir.org
      txServerCache: false
      txLog: /tmp/testlog.txt
