server:
  port: 8080
  servlet:
    context-path: /matchboxv3
hapi:
  fhir:
    server_address: http://localhost:8080/matchboxv3/fhir
    implementationguides:
      fhir_r4_core:
        name: hl7.fhir.r4.core
        version: 4.0.1
        url: classpath:/hl7.fhir.r4.core.tgz
      ips:
         name: hl7.fhir.uv.ips
         version: 1.1.0
         url: https://hl7.org/fhir/uv/ips/package.tgz
matchbox:
  fhir:
    context:
      txServer: http://tx.fhir.org
      httpReadOnly: true
      suppressError:
        hl7.fhir.uv.ips:
          - "Type_Specific_Checks_DT_URL_Resolve@^.*extension.*url"
          - "Type_Specific_Checks_DT_URL_Resolve@^.*coding.*system"
